{% extends 'base.html' %}
{% block title %}Categories{% endblock %}

{% block content %}
<section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Category List</h1>
          </header>

          <div class="row mb-4">
            <div class="col">
              <a href="{% url 'category:add' %}" class="btn btn-info ml-auto"><i class="fa fa-plus"></i> Add Category</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Feeds Count</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for category in object_list %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></td>
                          <td>{{ category.feeds.count }}</td>
                          <td><a class="btn btn-primary" href="{% url 'category:edit' category.id %}">Edit</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan=4 class='text-center'>No data found.</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </section>
{% endblock %}
