{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% if object %}Edit {{ object.title }} {% else %} Add New Category {% endif %}{% endblock %}

{% block content %}

<section>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="{% if object %}Save{% else %}Add New{% endif %}" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
