{% load static %}
<nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <div class="sidenav-header-inner text-center"><img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/15492322_1851224868453145_2286480518042878962_n.jpg?_nc_cat=107&_nc_eui2=AeFLEAfGKFyBksiamUen2shPKoxsD-OZejRw9kDVceVdF3T3RFQL9nbrtL0xPGo0dGRaWhgoUrq71sP5uah76Z_AzyrUdhhDsFlelNSglsvS5w&oh=23ff17acde80b2e38ed65f460071d1ed&oe=5C1984CA" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">Ihfazhillah</h2><span>Web Developer</span>
          </div>
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <div class="main-menu">
          <ul id="side-main-menu" class="side-menu list-unstyled">                  

            <li><a href="{% url 'feeds:list' %}"><i class="fa fa-rss-square"></i> Feeds</a></li>
            <li><a href="{% url 'category:list' %}"><i class="fa fa-tags"></i> Category</a></li>
            <!--
            <li><a href="index.html"> <i class="icon-home"></i>Home                             </a></li>
            <li><a href="forms.html"> <i class="icon-form"></i>Forms                             </a></li>
            <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts                             </a></li>
            <li><a href="tables.html"> <i class="icon-grid"></i>Tables                             </a></li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
              </ul>
            </li>
            <li><a href="login.html"> <i class="icon-interface-windows"></i>Login page                             </a></li>
            <li> <a href="#"> <i class="icon-mail"></i>Demo
                <div class="badge badge-warning">6 New</div></a></li>
          </ul>
        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading">Second menu</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li> <a href="#"> <i class="icon-screen"> </i>Demo</a></li>
            <li> <a href="#"> <i class="icon-flask"> </i>Demo
                <div class="badge badge-info">Special</div></a></li>
            <li> <a href=""> <i class="icon-flask"> </i>Demo</a></li>
            <li> <a href=""> <i class="icon-picture"> </i>Demo</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
