{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}Detail {{ object.title }}{% endblock %}

{% block content %}
<section>
  <div class="container-fluid">
    <header>
      <h1>Detail of {{object.title}} 
        <a href="{% url 'feeds:edit' object.id %}" class='btn btn-lg'><i class="fa fa-pencil"></i> Edit</a>
      </h1>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="{{ object.url }}">{{ object.url | truncatechars:50 }}</a></li>
              <li class="list-group-item">{{ object.description|linebreaks }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            {{ props|json_script:'props' }}
            <script>
              window.previewProps = JSON.parse(document.getElementById('props').textContent);
            </script>
            <div id="preview-id"><i class="fa fa-spin fa-spinner"></i> Please Wait While Loading Component</div>
            {% render_bundle 'preview' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
