{% extends 'base.html' %}

{% block title %}Feeds List{% endblock %}

{% block content %}
<section>
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Feed List</h1>
          </header>

          <div class="row mb-4">
            <div class="col">
              <a href="{% url 'feeds:add' %}" class="btn btn-info ml-auto"><i class="fa fa-plus"></i> Add Feed</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Url</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for feed in object_list %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td><a href="{{ feed.get_absolute_url }}">{{ feed.title }}</a></td>
                          <td><a href="{{ feed.url }}">{{ feed.url | truncatechars:50 }}</a> </td>
                          <td>{{ feed.description| truncatewords:5 }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan=4 class='text-center'>No data found.</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </section>
{% endblock %}
